pyqt-frameless-window>=0.0.1
git+https://git@github.com/yjg30737/pyqt-windows-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-mac-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-top-titlebar-widget.git@main
python-get-absolute-resource-path>=0.0.1