git+https://git@github.com/yjg30737/pyqt-frameless-window.git@main
git+https://git@github.com/yjg30737/pyqt-windows-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-mac-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-top-titlebar-widget.git@main